@import "variables";

h1.page-header {
  color: $umnoc-pink;
  font-weight: 600;
}

html {
  height: 100%;
}

.wrapper .wrapper-view {
  display: flex;
  flex-direction: column;
  height: 100%;

  #main {
    flex: 1 0 auto;
  }
}

