@import 'variables';

.page-header {
  color: $umnoc-pink;
  font-weight: 600;
}

html {
  height: 100%;

  body {
    background: $white;
  }
}

.wrapper.wrapper-view {
  background: url('/static/studio/umnoc-theme/images/umnoc-bg-circles.svg') no-repeat;
  background-position: bottom;
  background-position-x: 0;
  background-position-y: 0;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper-mast .mast {
  border-bottom: 0;
  padding-bottom: 0;

  .button.new-button,
  .action-create-library {
    background: $umnoc-blue;
    font-weight: 600;
    color: $white;
    font-size: 1.6rem;
    border-radius: 2rem;
    padding: 1rem;

    &:hover {
      background-color: $white;
      color: $umnoc-blue;
      border: 2px solid $umnoc-blue;
    }
  }
}

.notice-instruction {
  background-color: white;
}

.xblock-visibility_view .is-not-configured, .view-outline .content-primary .no-content, .view-static-pages .content-primary .add-pages,
.view-container .content-primary .no-container-content,
.view-textbooks .content-primary .no-textbook-content,
.view-group-configurations .content-primary .no-content,
.view-certificates .content-primary .no-content, .ui-loading, .notice-incontext,
.view-uploads .no-asset-content,
.view-import .wrapper-file-name, .view-group-configurations .content-primary .notice-moduledisabled,
.view-certificates .content-primary .notice-moduledisabled {
  border: 1px dashed rgb(247, 148, 29);
  padding: 15px 20px;
  box-shadow: 2px 1px 5px 0px rgba(49, 39, 131, 0.2);
}

.nav-account .title {
  background: transparent;
  color: $gray-900;
  padding: 5px 10px;
  border: 0;
  text-align: center;
}

.wrapper-sock {
  border: 0;
}

#main {
  flex: 1 0 auto;
}

.list-courses {
  background: $white;
  border: 2px solid $umnoc-blue;
  border-radius: .3rem;

  .course-item {
    .course-title {
      font-weight: 600;
    }

    .course-metadata {
      color: $gray-900;
      font-size: 1.4rem;
      line-height: 3rem;
    }

    .item-actions.course-actions .action a {
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
}

.courses-tab a {
  font-size: 1.4rem;
  font-weight: 600;

  &:hover {
    color: $umnoc-pink;
  }
}

