@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

$body-bg: #b3d4fc !default;
$footer-bg: $umnoc-blue;
$umnoc-blue: #312783 !default;
$umnoc-pink: #E6007E !default;
$umnoc-menu-border-color: #E1DFEF !default;


$serif: 'Montserrat', sans-serif;
$font-family-sans-serif: 'Montserrat', sans-serif;

@import 'edx-bootstrap/sass/edx/theme';
