.courses-container .courses .course {
  border-bottom: 4px solid $umnoc-border-color;
  box-sizing: border-box;
  position: relative;

  .course-organization {
    display: inline-block;
    font-weight: 600;
    padding: 10px 4px 10px 15px;
  }

  .course-code {
    display: inline-block;
    font-weight: 600;
    padding: 10px 15px 10px 4px;
  }

  .course-title {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4;
  }
}

.find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item,
.university-profile .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item {
  max-height: 680px;
  width: 30%;
}

.courses-container .courses .course .course-image .cover-image {
  height: 301px;
  overflow: hidden;

  &::before {
    display: none;
  }
}

.courses-container .courses .course .course-image .cover-image .learn-more {
  background: $white;
  border: 2px solid $umnoc-border-color;
  border-radius: 2rem;
  bottom: 16px;
  box-sizing: border-box;
  color: $umnoc-blue;
  font-weight: 600;
  line-height: 50px;
  padding: 0 1.5em;
  position: absolute;
  right: 16px;
  text-align: center;
  text-transform: none;
}
