.modal-open {
  overflow: hidden !important;
}

.dashboard {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;

  article.course {
    border: 2px solid $umnoc-border-color;
    border-radius: .7rem;
    padding: 1.5rem;
  }

  .main-container {
    padding: unset;

    .my-courses .course .details {

      .enter-course {
        background-color: $white;
        border-radius: .3rem;
        color: $umnoc-blue;

        &:hover {
          background-color: $umnoc-blue;
          color: $white;
        }
      }

      .wrapper-course-image {
        max-height: 180px;
        width: 25%;

        .course-image {
          height: 180px;
          width: auto !important;
        }
      }
    }
  }
}
