.modal-open {
  overflow: hidden !important;
}

.main {
  padding: 0 10px;
}

.dashboard {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 auto;
  // max-width: 1200px;
  width: 100%;
  
  .side-container {
    padding: 0px;
  }

  article.course {
    border: 1px solid $primary;
    border-radius: .5rem;
    // padding: 1.5rem;
  }

  .main-container {
    padding: unset;

    .my-courses {
      .listing-courses .course-item .course-container {
        border: 1px solid #f5f5f5;
        border-radius: 0.5rem;
    }
      .course .details {

        .enter-course {
          background-color: $white;
          border-radius: .3rem;
          color: $primary;

          &:hover {
            background-color: $primary;
            color: $white;
          }
        }

        .wrapper-course-image {
          max-height: 210px;
          width: 30%;
          overflow: visible;
          min-width: 310px;
          .course-image{
            border-radius: 0.4rem;
            max-height: 200px;
          }
          @include media-breakpoint-down(sm) {
            &{
              display: block;
            }
            
          }
        }
        @include media-breakpoint-down(md) {
          &{
          padding-left: 0;
        }
        }
      }
    }
  }
}
