// Theme overrides for umnoc

@import 'variables';
//@import 'certificates';
@import 'dashboard';
@import 'footer';
@import 'header';
@import 'course';


// Ensure the header matches the edx.org marketing site header
.header-logo a {
  @include media-breakpoint-down(md) {
    .logo {
      height: 40px !important;
      margin-left: 0;
    }
  }
}

.nav-links {
  @include media-breakpoint-down(lg) {
    justify-content: space-around;
  }
}

.umnoc-pink {
  color: $secondary;
}

.hd-1, .hd-2, .hd-3, .hd-4, .hd-5, .hd-6, .hd-7, .hd-8,
.date-wrapper .date-title {
  color: $secondary;
}

.date-wrapper .date-circle.todays-date {
  background-color: $secondary;
}

.date-wrapper .pill.today {
  background-color: $primary;
  color: $white;
}

.window-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.content-wrapper.main-container {
  flex: 1;
}

.courses-listing-item {
  width: auto;
}

.find-courses, .university-profile {
  background: transparent;
}

.btn-primary {
  &:hover {
    background-color: $white;
    border-color: $primary;
    color: $primary;
  }

  &.is-hovered {
    background-color: $white;
    border-color: $primary;
    color: $primary;
  }

  &:focus {
    background-color: $white;
    border-color: $primary;
    color: $primary;
  }

  &.is-focused {
    background-color: $white;
    border-color: $primary;
    color: $primary;
  }
}

.btn-brand {
  &:hover {
    background-color: $white;
    border-color: $primary;
    color: $primary;
  }

  &:focus {
    background-color: $white;
    border-color: $primary;
    color: $primary;
  }
}

.is-hovered.btn-brand {
  background-color: $white;
  border-color: $primary;
  color: $primary;
}

.is-focused.btn-brand {
  background-color: $white;
  border-color: $white;
  color: $primary;
}

.wrapper-header-courses {
  .header-courses {
    color: $umnoc-pink;
    font-weight: bold;
  }
}


.main-container .my-courses .course .details {
  .enter-course {
    background-color: $primary;
    border-radius: .3rem;
    color: $white;
  }
}


.wrapper-messages-primary {
  .message.message-upsell {
    .action-view-consent {
      background-color: $primary;
      border-radius: .3rem;
      color: $white;
    }
  }
}

.btn-primary:hover, .btn-brand:hover, .btn-primary.is-hovered, .is-hovered.btn-brand, .btn-primary:focus, .btn-brand:focus, .btn-primary.is-focused, .is-focused.btn-brand {
  background-color: $white;
  border-color: $primary;
  color: $primary;
}


.btn-secondary:hover {
  background-color: $white;
  border: 1px solid $secondary;
  color: $secondary;
}

.content-wrapper {
  margin: inherit;
  max-width: none;

  .course-tabs {
    margin: 0 auto;
    // max-width: 1200px;
    overflow-x: auto;

    .nav-item {
      .nav-link {
        border-bottom: 3px solid transparent;
        color: $dark;
      }

      &:hover {
        .nav-link {
          border-bottom-color: $primary;
        }
      }
    }

    .nav-item.active {
      .nav-link {
        border-bottom-color: $primary;
        color: $primary;
      }
    }
  }
}

.page-header {
  .page-header-main {
    .page-title {
      color: $umnoc-pink;
      font-size: 2rem;
      font-weight: bolder;
    }
  }
}

.course-sidebar {
  display: none;
}

.course-sidebar .section h3 {
  color: $secondary;
}

.wrapper-msg.wrapper-auto-cert {
  background: none;
  color: $white;
  font-weight: bold;
  margin: 0;
  padding: 0;

  .auto-cert-message {

    background: $white;
    border: 2px solid $primary;
    padding: 24px 21px;
    border-radius: 4px;
    .msg-content {
      .title {
        color: $primary;
        font-size: 150%;
        text-align: left;
        text-transform: uppercase;
      }

      .copy {
        color: $primary;
      }
    }
  }
}

.wrapper-preview-menu {
  margin: 0 auto;
  width: 100%;
  // max-width: 1200px;

  .action-preview-label {
    color: $white;
  }
  .action-preview-select {
    background-color: $primary;
    border: 1px solid white;
    color: $white;
    padding: .3rem;
  }
}

a:not(.btn),
a:visited:not(.btn) {
  font-weight: 400;

  &:hover,
  &:focus {
    color: $primary;
  }
}

.btn-primary {
  &:hover,
  &:focus {
    color: $primary;
    background-color: $white;
    border: 1px solid $primary;
  }
}

.page-content-container {
  // max-width: 1200px;
}

.course-message {
  .message-author {
    border: 1px solid $dark;
  }

  .message-content {
    margin: 0 0 1rem 1rem;
    padding: 1rem;
  }
}

.page-header-secondary {
  width: 100%;
  justify-content: end;
}

.btn-outline-primary {
  border: 1px solid $white;
  padding: .5rem;
  border-radius: 3px;
  background-color: $primary;
  color: $white;
}