// Theme overrides for umnoc
//
// The _extras.scss file is imported after all other rules by
// the LMS Sass. For your own theme, you can override this file
// to add any custom rules that you need. You can also import
// partials directly into this file so that you can break your
// rules into modular pieces.

@import 'certificates';
@import 'dashboard';
@import 'footer';
@import 'variables';


// Ensure the header matches the edx.org marketing site header
.header-logo a {
  @include media-breakpoint-down(md) {
    margin-left: calc(50% - 30px) !important;

    .logo {
      margin-left: 0 !important;
      width: $header-logo-width;
      height: auto !important;
    }
  }
}

.umnoc-pink {
  color: $umnoc-pink;
}

.window-wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content-wrapper.main-container {
  flex: 1;
}


.btn-primary {
  &:hover {
    border-color: $white;
    background-color: $white;
    color: $umnoc-blue;
  }

  &.is-hovered {
    border-color: $white;
    background-color: $white;
    color: $umnoc-blue;
  }

  &:focus {
    border-color: $white;
    background-color: $white;
    color: $umnoc-blue;
  }

  &.is-focused {
    border-color: $white;
    background-color: $white;
    color: $umnoc-blue;
  }
}

.btn-brand {
  &:hover {
    border-color: $white;
    background-color: $white;
    color: $umnoc-blue;
  }

  &:focus {
    border-color: $white;
    background-color: $white;
    color: $umnoc-blue;
  }
}

.is-hovered.btn-brand {
  border-color: $white;
  background-color: $white;
  color: $umnoc-blue;
}

.is-focused.btn-brand {
  border-color: $white;
  background-color: $white;
  color: $umnoc-blue;
}

.wrapper-header-courses {
  .header-courses {
    color: $umnoc-pink;
    font-weight: bold;
  }
}

.dashboard {
  .main-container {
    .my-courses {
      .course {
        .details {
          .enter-course {
            background-color: $umnoc-blue !important;
            color: $white !important;
            border-radius: .3rem;
          }
        }
      }
    }
  }
}

.wrapper-messages-primary {
  .message.message-upsell {
    .action-view-consent {
      background-color: $umnoc-blue !important;
      color: $white !important;
      border-radius: .3rem;
    }
  }
}

.btn-primary:hover, .btn-brand:hover, .btn-primary.is-hovered, .is-hovered.btn-brand, .btn-primary:focus, .btn-brand:focus, .btn-primary.is-focused, .is-focused.btn-brand {
  border-color: $white;
  background-color: $white;
  color: $umnoc-blue;
}


.btn-secondary:hover {
  border: 1px solid $umnoc-blue;
  background-color: $white !important;
  color: $umnoc-blue !important;
}

.content-wrapper {
  .course-tabs {
    overflow-x: auto;

    .nav-item {
      .nav-link {
        border-bottom: 6px solid transparent;
      }

      &:hover {
        .nav-link {
          border-bottom-color: $umnoc-menu-border-color;
          color: $umnoc-pink;
        }
      }
    }

    .nav-item.active {
      .nav-link {
        border-bottom-color: $umnoc-menu-border-color;
        color: $umnoc-pink;
      }
    }
  }
}

.page-header {
  .page-header-main {
    .page-title {
      color: $umnoc-pink;
      font-size: 2rem;
      font-weight: bolder;
    }
  }
}

.course-sidebar .section h3 {
  color: $umnoc-pink !important;
}

.wrapper-msg.wrapper-auto-cert {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background: none;
  font-weight: bold;
  color: white;

  .auto-cert-message {
    background: $umnoc-background-yellow;
    border-left: none;
    padding: 1vw;

    .msg-content .title {
      font-weight: 600;
      font-size: 150%;
      text-shadow: 1px 1px 1px #C15333;
    }
  }
}

a:not(.btn), a:visited:not(.btn) {
  font-weight: 400;
}

