// Theme overrides for umnoc

@import 'certificates';
@import 'dashboard';
@import 'footer';
@import 'variables';
@import 'header';
@import 'course';


// Ensure the header matches the edx.org marketing site header
.header-logo a {
  @include media-breakpoint-down(md) {
    margin-left: calc(50% - 30px) !important;

    .logo {
      width: $header-logo-width;
      height: auto !important;
      margin-left: 0;
    }
  }
}

.umnoc-pink {
  color: $umnoc-pink;
}

.window-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.content-wrapper.main-container {
  flex: 1;
}

.courses-listing-item {
  width: auto;
}

.find-courses, .university-profile {
  background: transparent;
}

.btn-primary {
  &:hover {
    background-color: $white;
    border-color: $white;
    color: $umnoc-blue;
  }

  &.is-hovered {
    background-color: $white;
    border-color: $white;
    color: $umnoc-blue;
  }

  &:focus {
    background-color: $white;
    border-color: $white;
    color: $umnoc-blue;
  }

  &.is-focused {
    background-color: $white;
    border-color: $white;
    color: $umnoc-blue;
  }
}

.btn-brand {
  &:hover {
    background-color: $white;
    border-color: $white;
    color: $umnoc-blue;
  }

  &:focus {
    background-color: $white;
    border-color: $white;
    color: $umnoc-blue;
  }
}

.is-hovered.btn-brand {
  background-color: $white;
  border-color: $white;
  color: $umnoc-blue;
}

.is-focused.btn-brand {
  background-color: $white;
  border-color: $white;
  color: $umnoc-blue;
}

.wrapper-header-courses {
  .header-courses {
    color: $umnoc-pink;
    font-weight: bold;
  }
}


.main-container .my-courses .course .details {
  .enter-course {
    background-color: $umnoc-blue;
    border-radius: .3rem;
    color: $white;
  }
}


.wrapper-messages-primary {
  .message.message-upsell {
    .action-view-consent {
      background-color: $umnoc-blue;
      border-radius: .3rem;
      color: $white;
    }
  }
}

.btn-primary:hover, .btn-brand:hover, .btn-primary.is-hovered, .is-hovered.btn-brand, .btn-primary:focus, .btn-brand:focus, .btn-primary.is-focused, .is-focused.btn-brand {
  background-color: $white;
  border-color: $white;
  color: $umnoc-blue;
}


.btn-secondary:hover {
  background-color: $white;
  border: 1px solid $umnoc-blue;
  color: $umnoc-blue;
}

.content-wrapper {
  margin: inherit;
  max-width: none;

  .course-tabs {
    margin: 0 auto;
    max-width: 1920px;
    overflow-x: auto;

    .nav-item {
      .nav-link {
        border-bottom: 6px solid transparent;
      }

      &:hover {
        .nav-link {
          border-bottom-color: $umnoc-menu-border-color;
          color: $umnoc-pink;
        }
      }
    }

    .nav-item.active {
      .nav-link {
        border-bottom-color: $umnoc-menu-border-color;
        color: $umnoc-pink;
      }
    }
  }
}

.page-header {
  .page-header-main {
    .page-title {
      color: $umnoc-pink;
      font-size: 2rem;
      font-weight: bolder;
    }
  }
}

.course-sidebar .section h3 {
  color: $umnoc-pink;
}

.wrapper-msg.wrapper-auto-cert {
  background: none;
  color: $white;
  font-weight: bold;
  margin: 0;
  padding: 0;

  .auto-cert-message {

    background: $umnoc-background-yellow;
    border-left: 0;
    padding: 1vw;

    .msg-content .title {
      font-size: 150%;
      font-weight: 600;
      text-shadow: 1px 1px 1px $umnoc-rusty;
    }
  }
}

.wrapper-preview-menu {
  margin: unset !important;
}

a:not(.btn),
a:visited:not(.btn) {
  font-weight: 400;
  &:hover,
  &:focus {
    color: $umnoc-blue;
  }
}

