.wrapper-footer {
  background-color: $primary;
  font-family: $font-family-sans-serif;
  margin-top: $baseline/2;
  padding: $baseline;


  footer#footer-umnoc {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    // max-width: map-get($container-max-widths, lg);


    .site-nav {
      margin-bottom: $baseline;
      padding: 0;

      .nav-item {
        margin-right: $baseline;

        .nav-link {
          color: $white;
          padding: 0;
          text-decoration: none;

          &:hover {
            color: $gray-100;
          }
        }
      }
    }

    .wrapper-logo img {
      height: $header-logo-height * 1.05;
    }

    .legal-nav {
      padding: 0;

      .nav-item {
        .nav-link {
          margin-right: $baseline/4;
          font-size: .8em;
          padding: 0;
          text-decoration: none;
        }
      }

      li:not(:first-child) a::before {
        content: "- ";
      }
    }

    .footer-language-selector {
      margin: $baseline 0;
    }

    .copyright {
      @include text-align(left);

      margin: -2px 0 8px;
      font-size: .8em;
      color: $gray-100;
    }

    .footer-about-openedx {
      float: right;
    }

    .colophon {
      nav,
      div,
      p {
        padding-bottom: 1rem;
      }

      .nav-colophon {
        @include clearfix();

        li {
          @include float(left);

          margin-right: ($baseline*.75);

          a {
            color: $white;

            &:hover,
            &:focus,
            &:active {
              color: $gray-100;
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .nav-legal {
    li {
      padding-bottom: .5rem;
    }
    a {
      color: $white !important;
    }
  }
}