.wrapper-footer {
  background-color: $umnoc-blue;
  margin-top: $baseline/2;
  padding: $baseline;
  font-family: $font-family-sans-serif;

  footer {
    max-width: map-get($container-max-widths, xl);
    margin: 0 auto;

    .site-nav {
      padding: 0;
      margin-bottom: $baseline;

      .nav-item {
        margin-right: $baseline;

        .nav-link {
          text-decoration: none;
          padding: 0;
          color: $white;

          &:hover {
            color: $gray-100;
          }
        }
      }
    }

    .wrapper-logo {
      img {
        height: $header-logo-height * 1.05;
      }
    }

    .legal-nav {
      padding: 0;

      .nav-item {
        .nav-link {
          text-decoration: none;
          padding: 0;
          margin-right: $baseline/4;
          font-size: 0.8em;
        }
      }

      li:not(:first-child) a::before {
        content: "- ";
      }
    }

    .footer-language-selector {
      margin: $baseline 0;
    }

    .copyright {
      @include text-align(left);

      margin: -2px 0 8px;
      font-size: 0.8em;
      color: $gray-100;
    }

    .footer-about-openedx {
      float: right;
    }

    .colophon {

      .nav-colophon {
        @include clearfix();

        margin: $footer_margin;

        li {
          @include float(left);

          margin-right: ($baseline*0.75);

          a {
            color: $white;

            &:hover,
            &:focus,
            &:active {
              color: $gray-100;
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}