.global-header {
  align-items: center;
  border-bottom: 0;
  box-shadow: $menu-shadow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 64px;
  padding: 0 24px;

  .main-header {
    max-width: 1920px;
  }

  .header-logo {
    align-items: center;
    display: flex;

    a {
      margin: unset;

      .logo {
        margin-left: 16px;
        margin-top: 6px;
      }
    }

    .logo-extra-text {
      color: $umnoc-logo-text-color;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: .00938em;
      line-height: 1.5;
      margin: 16px;
    }
  }

  .partner-icons {
    float: right;
  }
}


.nav-links {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 64px;
  padding: 0 24px;
  width: 100%;

  .main {
    display: inline flex;
    padding: 0 24px;

  }


  .secondary {
    align-items: center;
    display: flex;
    padding: 0 24px;


    .nav-item-dropdown {
      span.fa-caret-down {
        vertical-align: text-top;
      }
    }


    .user-image-frame {
      height: 30px;
    }
  }

  .nav-item {

    a {
      align-items: center;
      box-sizing: border-box;
      color: rgba(0, 0, 0, 0.6);
      cursor: pointer;
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-size: 14px;
      font-weight: 500;
      justify-content: center;
      letter-spacing: .02857em;
      line-height: 1.25;
      margin: 0;
      max-width: 360px;
      min-height: 48px;
      min-width: 90px;
      padding: 12px 16px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      user-select: none;
      vertical-align: middle;
      white-space: normal;

    }

    .menu-title {
      display: inline-block;
    }
  }

  #user-menu {
    background-color: $white;
    border-radius: .3rem;
    box-shadow: $menu-shadow;
    margin: .125rem 0 0;
    min-width: 16rem;
    position: absolute;
    transform: translate(-50%, 1vw);
    z-index: 1000;

    a {
      text-align: left;
      width: 100%;

    }
  }

  .nav-tab a {
    font-weight: 400;

    &:hover {
      color: $umnoc-pink;
    }
  }
}
