.umnoc-global-header {
  align-items: center;
  border-bottom: 0;
  box-shadow: $menu-shadow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 64px;
  padding: 0 24px 0 24px;

  .main-header {
    max-width: 1920px;
  }

  .header-logo {
    align-items: center;
    display: inline-flex;
    margin: 6px 0 0 16px;

    a {
      margin: unset;

      //.logo {
        //margin-left: 16px;
        //margin-top: 6px;
        //margin-right: 16px;
      //}
    }

    .logo-extra-text {
      color: $umnoc-logo-text-color;
      align-self: center;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: .00938em;
      line-height: 1.5;
      margin: 0 16px;
    }
  }

  .partner-icons {
    float: right;
  }
}


.nav-links {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 64px;
  padding: 0 24px;
  width: 100%;

  .main {
    display: inline flex;
    padding: 0 24px;

  }


  .secondary {
    align-items: center;
    display: flex;
    padding: 0 24px;


    .nav-item-dropdown {
      position: absolute;

      .toggle-user-dropdown {
        cursor: pointer;
        padding: 8px;

        &:hover {
          color: $umnoc-logo-text-color;
        }
      }

      span.fa-caret-down {
        vertical-align: text-top;
      }
    }


    .user-image-frame {
      height: 30px;
    }
  }

  .nav-item {

    a {
      align-items: center;
      box-sizing: border-box;
      color: rgba(0, 0, 0, 0.6);
      cursor: pointer;
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-size: 14px;
      font-weight: 500;
      justify-content: center;
      letter-spacing: .02857em;
      line-height: 1.25;
      margin: 0;
      max-width: 360px;
      min-height: 48px;
      min-width: 90px;
      padding: 12px 16px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      user-select: none;
      vertical-align: middle;
      white-space: normal;

      &.active {
        border-bottom: 2px solid;
        color: rgb(63, 81, 181);
      }

      &.menu-title {
        padding-right: 8px;
      }

    }

    .menu-title {
      display: inline-block;
    }
  }

  #user-menu {
    background-color: $white;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 2px 0, rgba(0, 0, 0, 0.14) 2px 3px 5px 0, rgba(0,0,0,0.12) -1px 0 12px 0;
    margin: .125rem 0 0;
    min-width: 16rem;
    position: absolute;
    transform: translate(-50%, 0vw);
    z-index: 1000;

    a {
      align-items: start;
      width: 100%;

      &:hover {
        background-color: rgba(63, 81, 181, 0.04);
        border: 1px solid $umnoc-logo-text-color;

      }
    }

    .dropdown-item {
      padding: unset;
    }

    .dropdown-nav-item {
      box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 7px -5px, rgba(0, 0, 0, 0.2) 1px 1px 1px 0;
    }
  }

  .nav-tab a {
    font-weight: 400;

    &:hover {
      color: $umnoc-pink;
    }
  }
}
