.umnoc-global-header {
  align-items: center;
  border-bottom: 0;
  box-shadow: $menu-shadow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 64px;
  padding: 0 24px 0 24px;

  .main-header {
    // max-width: 1200px;
  }

  .header-logo {
    align-items: center;
    display: inline-flex;
    margin: 6px 0 0 16px;

    a {
      margin: unset;

      .logo {
        height: 40px;
      }
    }

    .logo-extra-text {
      color: $primary;
      align-self: center;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: .00938em;
      line-height: 1.5;
      margin: 0 16px;
    }
  }

  .partner-icons {
    float: right;
  }
}


.nav-links {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  // max-width: 1200px;
  min-height: 64px;
  color: $dark;
  width: 100%;

  @include media-breakpoint-down(md) {
    &{
      justify-content: space-between;
      padding: 0 20px;
      width: calc(100% - 40px);
    }
  }

  .main {
    display: flex;
    //padding: 0 24px;

  }


  .secondary {
    align-items: center;
    display: flex;
    //padding: 0 24px;

    &:first-child {
      font-size: 1rem;
      display: inline-block;
      padding: 14px 0 0;
      margin: 0 1rem;
    }


    .nav-item-dropdown {
      //position: absolute;

      .toggle-user-dropdown {
        cursor: pointer;
        padding: 8px;

        &:hover {
          color: $primary;
        }
      }

      span.fa-caret-down {
        vertical-align: text-top;
      }
    }

    .user-image-frame {
      height: 30px;
    }


  }

  .nav-item {

    a {
      padding: 1rem;
      align-items: center;
      box-sizing: border-box;
      color: $dark;
      cursor: pointer;
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      font-family: $font-family-sans-serif;
      font-size: 14px;
      font-weight: 500;
      justify-content: center;
      letter-spacing: .02857em;
      line-height: 1.25;
      margin: 0;
      max-width: 360px;
      min-width: 90px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      user-select: none;
      vertical-align: middle;
      white-space: normal;

      &.hover {
        text-decoration: none;
      }

      &.active {
        border-bottom: 2px solid;
        color: $primary;
      }

      &.menu-title {
        padding-right: 8px;
      }
    }

    .menu-title {
      display: inline-block;
    }
  }

  #user-menu {
    background-color: $white;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 2px 0, rgba(0, 0, 0, 0.14) 2px 3px 5px 0, rgba(0,0,0,0.12) -1px 0 12px 0;
    margin: .125rem 0 0;
    min-width: 16rem;
    position: absolute;
    transform: translate(-90%, 0vw);
    z-index: 1000;

    a {
      align-items: start;
      width: 100%;

      &:hover {
        background-color: transparentize($primary, .95);
        border: 1px dotted $primary;
        color: saturate($primary, 20%);
        text-decoration: none;
      }
    }

    .dropdown-item {
      padding: unset;
    }

    .dropdown-nav-item {
      box-shadow:  rgba(0, 0, 0, 0.2) 1px 1px 1px 0;

      a {
        padding: 0 1rem;
        min-height: 48px;
      }
    }
  }

  .nav-tab a {
    font-weight: 400;

    &:hover {
      color: $secondary;
    }
  }
}
